<!-- This displays the value of @translate this changes throughout the app -->
<h2><%= @translate %></h2>

<!-- Form that opens the method in home page helps to change the value of @translate -->
<form action="/" method="post">
	<input id="text_box" type="text" name="translate" autofocus>
	<input id="submit_button" type="submit" value="Translate">
</form>


